body {
  margin: 0;
  padding: 0;
}

/*Common styles */
.postDiv
{
	padding:1%;
	margin:0% 12% 4% 5%;
	flex:60%;
}
.user
{
	flex:100%;
	margin:0% 0% 0% 1%;
}
.flexDiv
{
	margin:0% 0% 2% 0%;
	display:flex;
}
.avatar
{
	height:70%;
}
p
{
	padding:0px;
	margin:0px;
}
.editProfile
{
	width:55%;
	margin:2% 22%;	
}
.error
{
	color:red;
}

/* Styles for user navigation row */

.userNavigation
{
	background-color:#E8EAF1;
	padding:1%;
}
.logoPic
{
	width:50%;
	padding:0% 0% 0% 2%;
	flex:30%;
}
.logo
{
	width:30%;
}
.profile
{
	flex:12%;
	width:10%;
	text-align:right;
	background-color:transparent;
	margin:0% 7% 0% 80%;
	position:relative;
	display:inline-block;
}
.dropdownCont
{
	display:none;
	position:absolute;
	min-width:175px;
	z-index:1;
	background-color:#E8EAF1;
	text-align:left;
	margin:0% 0% 0% -200%;
}
.dropdownLink
{
	display:block;
	color:black;
	padding:5px;
	text-decoration:none;
}
.dropdownLink:hover
{
	background-color:white;
	text-decoration:none;
	color:black;
}
.profile:hover .dropdownCont
{
	display:block;
}
hr
{
	margin:1% 0% 1% 0%;
}
.profile img
{
	width:125%;
}

/*Styles for post */
.post
{
	margin:2% 0%;
}
.description p
{
	text-align:justify;
}

/*Styles for comments */

.userLink
{
	text-align:left;
	flex:50%;
}
.datetime
{
	text-align:right;
	flex:50%;
}
.postinformation
{
	padding:0% 0% 0% 1%;
	width:100%;
}
.comments
{
	width:100%;	
	margin:4%;
	padding:0% 4% 0% 0%;
}
.comment
{
	padding:1%;
}
.commentText
{
	padding:1% 0%;
}
.commentNumber
{
	text-align:right;
}
.commentSection
{
	padding:1%;
	background-color:#E8EAF1;
}

/*Form control elements */
.writecomment
{
	text-align:right;
	padding:2% 0% 0% 0%;
}

.submit
{
	margin:2% 0%;
}

/*Styles for Edit Profile */
.heading
{
	text-align:center;
	margin:3% 0% 3% 0%;
}
.label
{
	margin:4% 4%;
	flex:25%;
}
.formelement
{
	margin:3% 5% 3% 0%;
	flex:70%;
}
.update
{
	flex:50%;
	width:25%;
	margin:0% 12% 0% 12%;
}
.cancelEdit a
{
	text-decoration:none;
	color:white;
}
